{% if button['#title'] %}
  <a class="button {{ buttonClass }} {{ jsClass }}" href="{{ button['#href'] }}">{{ button['#title']  }}</a>
{% else %}
  <a class="button {{ buttonClass }} {{ jsClass }}" href="{{ button.href }}">{{ button.title }}</a>
{% endif %}