<div class="text-field">
  <label class="text-field--label" for="{{ name }}">{{ label }}</label>
  <input class="text-field--input" type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" />
</div>