  <div class="textarea">
    <label class="textarea--label" for="{{ name }}">{{ label }}</label>
    <textarea class="textarea--input" cols="{{ cols }}" rows="{{ rows }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}">{{ value }}</textarea>
  </div>