<div class="popup">
  <div class="popup--close-button-wrapper">
    <span class="popup--close-button js-close-button">x</span>
  </div>
  <div class="popup--content-wrapper">
    <h3 class="popup--title">{{ title }}</h3>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Dato') }}</p>
      <p class="popup--value">{{ date }}</p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Pris') }}</p>
      <p class="popup--value">{{ price }}</p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Adresse') }}</p>
      <p class="popup--value">{{ address }}</p>
    </div>
    <div class="popup--metadata">
      <p class="popup--key">{{ Drupal.t('Postnummer') }}</p>
      <p class="popup--value">{{ zipcode }}</p>
    </div>
    <div class="popup--link-wrapper">
      <a href="{{ url }}" target="_blank" class="popup--link">
        <div class="popup--link-text">{{ Drupal.t('Mere information') }}</div>
      </a>
    </div>
  </div>
</div>
