{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set form = element %}

{% set activityClone = {
headingWithIcon: {
  title: "Extra occurrences" | trans,
  subtitle: form.data.clone['#title']
},
helpBoxTitle: {
  title: "Notice about repeating activities" | trans,
  description: "Repeating activities are created as separate activities. Changes made to one are not applied to all." | trans
}
} %}

{% embed "@modules/grid/grid-full.twig" %}
  {% block items %}
    {% embed "@modules/grid/grid-item.twig" %}
      {% block content %}
        {% embed "@modules/grid/grid-item-header-section.twig" %}
          {% block content %}
            {% include "@modules/heading-with-icon.twig" with { headingWithIcon: activityClone.headingWithIcon, icon: activityClone.headingWithIcon.icon } %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}

<form{{ attributes }}>
  {% for key, occur in form.occurrences if key matches '/^\\d+$/' %}
    {% embed "@modules/grid/grid-fourths.twig" %}
      {% block items %}
        {{ occur.field_date }}
        {{ occur.field_time_start }}
        {{ occur.field_time_end }}
        {% embed "@modules/grid/grid-item.twig" %}
          {% block content %}
            <div style="margin-top: 44px">
              {{ occur.actions.remove_occurrence }}
            </div>
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endfor %}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {{ form.occurrences_actions.actions.add_occurrence }}
        {% endblock %}
      {% endembed %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {{ form.submit }}
        {% endblock %}
      {% endembed %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% include "@elements/forms/help-box.twig" with { helpBox: activityClone.helpBoxTitle } %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</form>
