{% embed "@layouts/grid-full.twig" %}
  {% block items %}
    {% embed "@layouts/grid-item.twig" %}
      {% block content %}
        {% embed "@layouts/grid-item-header-section.twig" %}
          {% block content %}

            {% embed "@modules/heading-with-icon.twig" with { headingWithIcon: resetPassword.headingWithIcon } %}
              {% block icon %}
                {% include "@elements/icons/icon-user.twig" %}
              {% endblock %}
            {% endembed %}

          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}

{% embed "@layouts/grid-halfs.twig" %}
  {% block items %}
    {% embed "@layouts/grid-item.twig" %}
      {% block content %}

        {% if children %}
          {# Render Drupal form #}
          <form{{ attributes.removeClass('user-pass') }}>
            {% set form = element %}

            {% embed "@layouts/grid-item-section.twig" %}
              {% block content %}

                {{ form.message }}

              {% endblock %}
            {% endembed %}

            {% embed "@layouts/grid-item-section.twig" %}
              {% block content %}

                {{ form.pass }}

              {% endblock %}
            {% endembed %}

            {% embed "@layouts/grid-item-section.twig" %}
              {% block content %}

                {{ form.actions.submit }}

              {% endblock %}
            {% endembed %}

            {{ form.form_build_id }}
            {{ form.form_token }}
            {{ form.form_id }}
          </form>
        {% else %}
          {# Render Pattern Lab #}
          {% embed "@layouts/grid-item-section.twig" %}
            {% block content %}

              {% include "elements-form-label" with { formLabel: { label: "Password" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'password' } %}

            {% endblock %}
          {% endembed %}

          {% embed "@layouts/grid-item-section.twig" %}
            {% block content %}

              {% include "elements-form-label" with { formLabel: { label: "Confirm Password" } } %}
              {% include "elements-text-field" with {'type': 'text', 'name': 'confirm_password' } %}

            {% endblock %}
          {% endembed %}

          {% embed "@layouts/grid-item-section.twig" %}
            {% block content %}

              {% include "@elements/buttons/button-call-to-action.twig" with { button: resetPassword.button } %}

            {% endblock %}
          {% endembed %}

        {% endif %}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
