{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}

{% set form = element %}

<form{{ attributes }}>
  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% include '@modules/heading-with-icon.twig' with { headingWithIcon: { title: ("Hello " ~ user.account.name) | trans, subtitle: "Let us create an activity" | trans, icon: { type: "create", color: 'light' } } } %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}


  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Choose Headline and Description" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.title }}

          {% include "@elements/forms/help-box.twig" with { helpBox: { title: "What is a good headline?" | trans, description: "En god overskrift er mange ting. Den kan være kort og tydelig (fx Vinsmagning i Dokk1). Den kan gøre en nysgerrig (fx Løgn og latin i sognegården) eller bruge ordspil (Luther og lagkage). Den kan love noget (Lær at binde din egen flue) eller være inviterende (Drop-ind tennis)" | trans } } %}

          {{ form.body }}

          {% include "@elements/forms/help-box.twig" with { helpBox: { title: "Hvad er en god beskrivelse?" | trans, description: "En god beskrivelse fortæller lidt mere om emnet eller temaet, og hvad i skal sammen. Fx: Vi lærer om de gode råvarer fra middelhavet og laver alle retter fra bunden. Eller: Tag på en frisk cykeltur ved Moesgård med en flok motionister, der nyder den friske luft og det gode humør. Vi cykler 5 km hver gang. Hvis det er et foredrag, kan man også skrive lidt om personen, der holder foredraget. Detaljer som, hvor og hvornår det foregår, kommer vi til senere. Det samme med hvor øvet, man skal være for at kunne deltage." | trans } } %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Signup required" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}

          {{ form.field_signup_required }}

          {% include "@elements/forms/help-box.twig" with { helpBox: { title: "Hvad er tilmeldingspligt?" | trans, description: "Hvis det er vigtigt at vide, hvor mange, der kommer til din aktivitet, fordi der fx skal laves mad eller betales billetter, så sæt kryds i tilmeldingspligt." | trans } } %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Participants" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_entry_requirements }}
          {{ form.field_physical_requirements }}

          {% embed "@layouts/grid-fourths.twig" %}
            {% block items %}
              {% embed "@layouts/grid-item.twig" %}
                {% block content %}
                  {{ form.field_maximum_participants }}
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Helping with the activity" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_help_needed }}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Categories" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_categories }}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Upload an image" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-halfs.twig" %}
            {% block items %}
              {% embed "@layouts/grid-item.twig" %}
                {% block content %}
                  {{ form.field_image }}
                {% endblock %}
              {% endembed %}

              {% embed "@layouts/grid-item.twig" %}
                {% block content %}
                  {{ "Her kan du give din aktivitet et billede. Vælg upload billede og tilføj et billede fra din computer." | trans }}

                  {% include "@elements/forms/help-box.twig" with { helpBox: { title: "Hvad er et godt billede?" | trans, description: "Et godt billede er lyst, og det er i en god opløsning (dvs. det er taget eller lavet i en ordentlig størrelse, så billedet er klart). Et godt billede fortæller andre, om der er aktivitet(fx. madlavning, brætspil, motion), eller hvilket emne det drejer sig om (fx. et historisk billede til et foredrag om 1864 eller hvem, der holder foredraget)." | trans } } %}
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {% embed "@layouts/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/text-with-icon.twig" with {textWithIcon: {title: "Practical information" | trans, icon: { type: "arrow", color: "light", class: 'is-small' } } } %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-halfs.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_date }}
        {% endblock %}
      {% endembed %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_price }}
        {% endblock %}
      {% endembed %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_time_start }}
        {% endblock %}
      {% endembed %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_time_end }}
        {% endblock %}
      {% endembed %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_zipcode }}
        {% endblock %}
      {% endembed %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_area }}
        {% endblock %}
      {% endembed %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.field_address }}
        {% endblock %}
      {% endembed %}

      {# @TODO: Contact information - just user? #}
    {% endblock %}
  {% endembed %}

  {% embed "@layouts/grid-full.twig" %}
    {% block items %}
      {% embed "@layouts/grid-item.twig" %}
        {% block content %}
          {{ form.actions.submit }}
          {{ form.actions.publish }}
        {% endblock %}
      {% endembed %}

    {% endblock %}
  {% endembed %}

  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}
</form>

{# TODO: step form #}
{#
{% set groups = form['#fieldgroups'] %}
{% set group_keys = groups | keys %}
#}
      {#
            {% embed "@layouts/grid-item.twig" %}
              {% block content %}
                {% set progressBar = { items: [
                  {title: 'fisk'},
                  {title: 'fusk'},
                  {title: 'just'}
                ] } %}
                {% include '@modules/progress-bar.twig' %}
              {% endblock %}
            {% endembed %}
      #}
