{#
/**
 * @file
 * Display of frontpage header block
 *
 * Available variables:
 * - variables: Holds variables from itkore frontpage config page.
 */
#}
<div class="frontpage-header" style="background:url({{ variables.frontpage_image_url }}) no-repeat;">
  {% if variables.frontpage_lead  %}
    <h2>{{ variables.frontpage_lead }}</h2>
  {% endif %}
  {% if variables.frontpage_sub  %}
    <p>{{ variables.frontpage_sub }}</p>
  {% endif %}
  {% if variables.frontpage_link and variables.frontpage_button %}
    <a class="button" href="{{ variables.frontpage_link }}">{{ variables.frontpage_button }}</a>
  {% endif %}
</div>
