{% if page.header %}
  {# Render Drupal blocks in header region #}
  {% embed "@components/01-global/01-header.twig" with { is_front: is_front } %}
    {% block content %}
      {{ page.header }}
    {% endblock %}
  {% endembed %}
{% else %}
  {# Render Pattern Lab #}
  {% include "@components/01-global/01-header.twig" %}
{% endif %}

{% if page.hamburger_menu %}
  {# Render Drupal block in hamburger menu region #}
  {% embed "@components/01-global/03-hamburger-menu.twig" with { is_front: is_front } %}
    {% block content %}
      {{ page.hamburger_menu }}
    {% endblock %}
  {% endembed %}
{% else %}
  {# Render Pattern Lab #}
  {% include "@components/01-global/03-hamburger-menu.twig" with { is_front: is_front } %}
{% endif %}

{% if page.hero %}
  {# Render Drupal block in hero region #}
  {{ page.hero }}
{% else %}
  {# Render Pattern Lab #}
  {% include "@modules/hero.twig" %}
{% endif %}

{% if page.content %}
  {# Render Drupal block in hero region #}
  {{ page.content }}
{% else %}
  {# Render Pattern Lab #}
  <section class="container">
    <div class="container--inner">
    {% include "@components/activities.twig" %}
    </div>
  </section>

  {% include "@components/section-info.twig" %}

  <section class="container">
    <div class="container--inner">
      {% include "@components/activities.twig" %}
    </div>
  </section>

  {% include "@components/section-info.twig" %}
{% endif %}

{% if page.footer %}
  {# Render Drupal blocks in footer region #}
  {% embed "@components/01-global/02-footer.twig" %}
    {% block content %}
      {{ page.footer }}
    {% endblock %}
  {% endembed %}
{% else %}
  {# Render Pattern Lab #}
  {% include "@components/01-global/02-footer.twig" %}
{% endif %}
