<div class="text-field">
  {% block content %}
    <input class="text-field--input" type="{{ type }}" name="{{ name }}" id="{{ name }}" placeholder="{{ placeholder }}" value="{{ value }}" />
  {% endblock %}
</div>