{#
/**
 * addActivity:
 * - headingWithIcon:
 *   - title
 *   - subtitle
 * - categories:
 *   - title
 * progressBar:
 * - items:
 *   - title
 *   - active
 */
#}

{# Form #}

<form{{ attributes }}>

  {# Header #}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% embed "@modules/grid/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/heading-with-icon.twig" with { headingWithIcon: addActivity.headingWithIcon } %}
                {% block icon %}
                  {% include "@elements/icons/icon-user.twig" %}
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {# Progress bar #}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% include '@modules/progress-bar.twig' %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {# Main #}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}

      {# Image #}

      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% embed "@modules/grid/grid-halfs.twig" %}
            {% block items %}
              {% embed "@modules/grid/grid-item.twig" %}
                {% block content %}
                  {% if form %}
                    {# Drupal #}
                    {{ form.field_image }}
                  {% else %}
                    {# Pattern Lab #}
                    {% include "@modules/image-upload/image-upload.twig" %}
                  {% endif %}
                {% endblock %}
              {% endembed %}

              {% embed "@modules/grid/grid-item.twig" %}
                {% block content %}

                  {% embed "@modules/grid/grid-full.twig" %}
                    {% block items %}

                      {% embed "@modules/grid/grid-item.twig" %}
                        {% block content %}

                          {% include "@modules/section-text-with-icon.twig" with { textWithIcon: addActivity.image } %}

                        {% endblock %}
                      {% endembed %}

                      {% embed "@modules/grid/grid-item.twig" %}
                        {% block content %}

                          {{ addActivity.image.text }}

                          {% include "@elements/forms/help-box.twig" with { helpBox: addActivity.helpBoxImage } %}

                        {% endblock %}
                      {% endembed %}

                    {% endblock %}
                  {% endembed %}

                {% endblock %}
              {% endembed %}

            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}

      {# Action buttons #}

      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}

          {% embed "@modules/grid/grid-halfs.twig" %}
            {% block items %}

              {% embed "@modules/grid/grid-item.twig" %}
                {% block content %}
                  {% include "@elements/buttons/button-secondary-dark.twig" with { button: form.actions.back } %}
                {% endblock %}
              {% endembed %}

              {% embed "@modules/grid/grid-item.twig" %}
                {% block content %}
                  {{ form.actions.submit }}
                  {{ form.actions.publish }}
                {% endblock %}
              {% endembed %}

            {% endblock %}
          {% endembed %}

        {% endblock %}
      {% endembed %}

    {% endblock %}
  {% endembed %}

  {% if form %}
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
  {% endif %}
</form>
