{#
/**
 * addActivity:
 * - headingWithIcon:
 *   - title
 *   - subtitle
 * - categories:
 *   - title
 * progressBar:
 * - items:
 *   - title
 *   - active
 */
#}

{# Form #}

<form{{ attributes }}>

  {# Header #}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% embed "@modules/grid/grid-item-header-section.twig" %}
            {% block content %}
              {% embed "@modules/heading-with-icon.twig" with { headingWithIcon: addActivity.headingWithIcon } %}
                {% block icon %}
                  {% include "@elements/icons/icon-user.twig" %}
                {% endblock %}
              {% endembed %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {# Progress bar #}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}
      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% include '@modules/progress-bar.twig' %}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}

  {# Main #}

  {% embed "@modules/grid/grid-full.twig" %}
    {% block items %}

      {# Practical information #}

      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% include "@modules/section-text-with-icon.twig" with { textWithIcon: addActivity.practicalInformation } %}
        {% endblock %}
      {% endembed %}

      {% embed "@modules/grid/grid-halfs.twig" %}
        {% block items %}
          {% if form %}
            {# Drupal #}
            {{ form.field_zipcode }}
            {{ form.field_area }}
            {{ form.field_address }}
            {{ form.field_price }}
          {% else %}
            {# Pattern Lab #}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {% include "@elements/forms/form-label.twig" with { formLabel: { label: "Postnummer" } } %}
                {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_zipcode" } %}
              {% endblock %}
            {% endembed %}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {% include "@elements/forms/form-label.twig" with { formLabel: { label: "By" } } %}
                {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_area" } %}
              {% endblock %}
            {% endembed %}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {% include "@elements/forms/form-label.twig" with { formLabel: { label: "Adresse" } } %}
                {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_address" } %}
              {% endblock %}
            {% endembed %}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {% include "@elements/forms/form-label.twig" with { formLabel: { label: "Pris" } } %}
                {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_price" } %}
              {% endblock %}
            {% endembed %}
          {% endif %}
        {% endblock %}
      {% endembed %}

      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% embed "@modules/heading-with-icon.twig" with { headingWithIcon: addActivity.dateHeading } %}
            {% block icon %}
              {% include "@elements/icons/icon-user.twig" %}
            {% endblock %}
          {% endembed %}
        {% endblock %}
      {% endembed %}

      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}
          {% embed "@modules/grid/grid-thirds.twig" %}
            {% block items %}
              {% if form %}
                {# Drupal #}
                {% for key, occur in form.occurrences if key matches '/^\\d+$/' %}
                  {% embed "@modules/grid/grid-fourths.twig" %}
                    {% block items %}
                      {{ occur.field_date }}
                      {{ occur.field_time_start }}
                      {{ occur.field_time_end }}
                      {% embed "@modules/grid/grid-item.twig" %}
                        {% block content %}
                          <div style="margin-top: 44px">
                            {{ occur.actions.remove_occurrence }}
                          </div>
                        {% endblock %}
                      {% endembed %}
                    {% endblock %}
                  {% endembed %}
                {% endfor %}

                {% embed "@modules/grid/grid-full.twig" %}
                  {% block items %}
                    {% embed "@modules/grid/grid-item.twig" %}
                      {% block content %}
                        {{ form.occurrences_actions.actions.add_occurrence }}
                      {% endblock %}
                    {% endembed %}
                    {% embed "@modules/grid/grid-item.twig" %}
                      {% block content %}
                        {% include "@elements/forms/help-box.twig" with { helpBox: addActivity.helpBoxTitle } %}
                      {% endblock %}
                    {% endembed %}
                  {% endblock %}
                {% endembed %}
              {% else %}
                {# Pattern Lab #}
                {% embed "@modules/grid/grid-item.twig" %}
                  {% block content %}
                    {% include "@elements/forms/form-label.twig" with { formLabel: { label: "Dato" } } %}
                    {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_date" } %}
                  {% endblock %}
                {% endembed %}
                {% embed "@modules/grid/grid-item.twig" %}
                  {% block content %}
                    {% include "@elements/forms/form-label.twig" with { formLabel: { label: "Sluttidspunkt" } } %}
                    {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_time_end" } %}
                  {% endblock %}
                {% endembed %}
                {% embed "@modules/grid/grid-item.twig" %}
                  {% block content %}
                    {% include "@elements/forms/form-label.twig" with { formLabel: { label: "Starttidspunkt" } } %}
                    {% include "@elements/forms/text-field.twig" with { type: "text", "name": "field_time_start" } %}
                  {% endblock %}
                {% endembed %}
              {% endif %}
            {% endblock %}
          {% endembed %}

        {% endblock %}
      {% endembed %}

      {# Action buttons #}

      {% embed "@modules/grid/grid-item.twig" %}
        {% block content %}

          {% embed "@modules/grid/grid-halfs.twig" %}
            {% block items %}

              {% embed "@modules/grid/grid-item.twig" %}
                {% block content %}
                  {% include "@elements/buttons/button-secondary-dark.twig" with { button: form.actions.back } %}
                {% endblock %}
              {% endembed %}

              {% embed "@modules/grid/grid-item.twig" %}
                {% block content %}
                  {{ form.actions.submit }}
                  {{ form.actions.publish }}
                {% endblock %}
              {% endembed %}

            {% endblock %}
          {% endembed %}

        {% endblock %}
      {% endembed %}

    {% endblock %}
  {% endembed %}

  {% if form %}
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}
  {% endif %}
</form>
