{#
/**
 * @file
 * Theme override of a views exposed form.
 *
 * Available variables:
 * - form: A render element representing the form.
 *
 * @see template_preprocess_views_exposed_form()
 */
#}
{% if q is not empty %}
  {#
    This ensures that, if clean URLs are off, the 'q' is added first,
    as a hidden form element, so that it shows up first in the POST URL.
  #}
  {{ q }}
{% endif %}

{% embed "@modules/grid/grid-full.twig" %}
  {% block items %}
    {% embed "@modules/grid/grid-item.twig" %}
      {% block content %}
        {% embed "@modules/grid/grid-halfs.twig" %}
          {% block items %}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {{ form.title }}
              {% endblock %}
            {% endembed %}
            {% embed "@modules/grid/grid-item.twig" %}
              {% block content %}
                {% embed "@modules/grid/grid-halfs.twig" %}
                  {% block items %}
                    {% embed "@modules/grid/grid-item.twig" %}
                      {% block content %}
                        {{ form.actions }}
                      {% endblock %}
                    {% endembed %}
                    {% embed "@modules/grid/grid-item.twig" %}
                      {% block content %}
                        {% include "@elements/buttons/button-call-to-action.twig" with { button: { title: "Show filters" | trans }, jsClass: "js-filters-toggle" } %}
                      {% endblock %}
                    {% endembed %}
                  {% endblock %}
                {% endembed %}
              {% endblock %}
            {% endembed %}
          {% endblock %}
        {% endembed %}
      {% endblock %}
    {% endembed %}

    {% embed "@modules/grid/grid-item.twig" %}
      {% block content %}
        <div class="filters js-filters">
          {{ form.field_categories_target_id }}
        </div>
        {{ form|without('actions', 'title', 'field_categories_target_id') }}
      {% endblock %}
    {% endembed %}
  {% endblock %}
{% endembed %}
